

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
* {
  box-sizing: border-box;
}

body {
  background: #0c101b;
  font-family: "Montserrat", sans-serif;
}

.block {
  width: 840px;
  margin: 10% auto;
  overflow: hidden;
}

.box {
  position: relative;
  height: 130px;
  line-height: 150px;
  overflow: hidden;
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.box__bottom,
.box__top,
.box__left,
.box__right {
  position: absolute;
  width: inherit;
  height: inherit;
  text-align: center;
  line-height: inherit;
  transition: transform 0.4s ease;
}

.box__bottom:before,
.box__top:before,
.box__left:before,
.box__right:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.box__bottom:hover,
.box__top:hover,
.box__left:hover,
.box__right:hover {
  transform: translateX(0);
  z-index: 1;
}

.box__bottom:hover:before,
.box__top:hover:before,
.box__left:hover:before,
.box__right:hover:before {
  width: 100%;
  height: 100%;
  transform: none;
}

.box__right {
  background: rgba(0, 0, 0, 0.43);
  transform: translateX(100%);
}

.box__right:before {
  right: 100%;
  bottom: 0;
  transform-origin: 100% 100%;
}

.box__right:hover ~ .box__center {
  transform: translateX(-100%);
}

.box__left {
  background: rgba(0, 0, 0, 0.43);
  transform: translateX(-100%);
}

.box__left:before {
  left: 100%;
  transform-origin: 0 0;
}

.box__left:hover ~ .box__center {
  transform: translateX(100%);
}

.box__top {
  background: rgba(0, 0, 0, 0.43);
  transform: translateY(-100%);
}

.box__top:before {
  top: 100%;
  right: 0;
  transform-origin: 100% 0;
}

.box__top:hover ~ .box__center {
  transform: translateY(100%);
}

.box__bottom {
  background: rgba(0, 0, 0, 0.43);
  transform: translateY(100%);
}

.box__bottom:before {
  bottom: 100%;
  left: 0;
  transform-origin: 0 100%;
}

.box__bottom:hover ~ .box__center {
  transform: translateY(-100%);
}

.film-container {
  width: 100%;
  float: left;
  position: relative;
}

.film-container .row {
  height: 445px;
  position: relative;
}

.film-container .row .single-film {
  width: 280px;
  height: auto;
  float: left;
  padding: 0px 15px;
  position: absolute;
  z-index: 4;
  background: #0c101b;
}

.film-container .row .single-film:nth-child(1) {
  top: 0%;
  left: 0%;
  transition: all ease 0.8s;
}

.film-container .row .single-film:nth-child(2) {
  top: 0%;
  left: 33%;
  transition: all ease 0.8s;
}

.film-container .row .single-film:nth-child(3) {
  top: 0%;
  left: 66%;
  transition: all ease 0.8s;
}

.film-container .row .single-film:nth-child(4) {
  top: 55%;
  left: 0%;
  transition: all ease 0.8s;
}

.film-container .row .single-film:nth-child(5) {
  top: 55%;
  left: 33%;
  transition: all ease 0.8s;
}

.film-container .row .single-film:nth-child(6) {
  top: 55%;
  left: 66%;
  transition: all ease 0.8s;
}

.film-container .row .single-film .play-video {
  transition: all ease 0.8s;
  opacity: 0;
  background: #0c101b;
}

.film-container .row .single-film .play-video video {
  width: 100%;
  height: 100%;
  transition: all ease 0.8s;
}

.film-container .row .single-film .box-pay-icon {
  display: block;
  opacity: 1;
  z-index: 9;
}

.film-container .row .single-film .video-tag-close {
  transition: all ease 0.5s;
  position: absolute;
  top: 0px;
  right: 9px;
  font-size: 28px;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  background: #0c101b;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 36px;
}

.film-container .row .single-film .box {
  width: 100%;
  transition: all ease 0.8s;
}

.film-container .row .single-film .box .play-movie-icon {
  color: #fff;
  font-size: 45px;
  line-height: 0;
  font-weight: bold;
}

.film-container .row .single-film .film-information {
  width: 100%;
  float: left;
  margin-top: 6%;
  transition: all ease 0.8s;
}

.film-container .row .single-film .film-information p {
  width: 100%;
  float: left;
  color: #fff;
  font-size: 13px;
  margin: 0;
  line-height: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.film-container .row .single-film.single-film-animate {
  left: 33% !important;
  top: 33% !important;
  transition: all ease 0.8s;
  bottom: 33%;
  right: 33%;
  transition: all ease 0.8s;
}

.film-container .row .single-film.single-film-animate .film-information {
  opacity: 0;
  transition: all ease 0.8s;
}

.film-container .row .single-film.single-film-animate .box-pay-icon {
  transition: all ease 0.8s;
  display: none !important;
}

.film-container .row .single-film.single-film-active {
  z-index: 6;
}

.film-container .row .single-film.video-min {
  transition: all ease 0.8s;
  display: block;
  opacity: 1;
}

.film-container .row .single-film.video-min video {
  margin: 0 auto !important;
  height: 0% !important;
  width: 0% !important;
  margin-left: 40% !important;
  margin-top: 20% !important;
  overflow: hidden !important;
}

.film-container .row .single-film.single-film-in {
  z-index: 6;
  transition: all ease 0.8s;
  right: 0 !important;
  left: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  height: auto !important;
  width: 100% !important;
}

.film-container .row .single-film.single-film-in .box {
  height: 100% !important;
  transition: all ease 0.8s;
  width: 100% !important;
  overflow: visible;
}

.film-container .row .single-film.single-film-in .play-video {
  transition: all ease 0.8s;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
  opacity: 1 !important;
}

.film-container .row .single-film.single-film-in .play-video video {
  transition: all ease 0.8s;
  width: 100%;
  height: 100%;
}

.film-container .row .single-film.single-film-in:hover .video-tag-close {
  transition: all ease 0.8s;
  opacity: 1;
}
